<div class="about-main">
    <h2>サービス内容</h2>
    <p>Mashappは，様々な筋トレ方法をユーザーが投稿するサイトです．</p>
    <p>Mashappでは主に3つのことができます．</p>
    <p>一つ目は，ユーザー個人で筋トレ方法の投稿ができる</p>
    <p>二つ目は，他のユーザーが投稿した筋トレを閲覧することができる．</p>
    <p>三つ目は，投稿した筋トレ方法を評価・コメントすることができる．</p>
</div>